<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<header>
    <nav>
        <div class="logo">
            <img src="https://th.bing.com/th/id/OIG4.QjFWV_k_Aqn7kOcL0c8R?w=1024&h=1024&rs=1&pid=ImgDetMain"
                alt="Entertainment Hub Logo">
        </div>
        <ul class="nav-links">
            <li><a routerLink="/home">Inicio</a></li>
            <li><a routerLink="/favorites">Favoritos</a></li>
            <li><a routerLink="/genre/action">Acción</a></li>
            <li><a routerLink="/genre/comedy">Comedia</a></li>
            <li><a routerLink="/genre/drama">Drama</a></li>
        </ul>
    </nav>
</header>
<body class="movieBanner">
    <section class="movie-detail">
        <div class="banner"
            [style.background-image]="'linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.9)), url(' + getBannerUrl() + ')'">
            <div class="overlay">
                <div class="movie-info">
                    <h2>{{ movie?.title }}</h2>
                    <p>{{ movie?.description }}</p>
                    <button (click)="playTrailer()">Reproducir</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 Entertainment Hub</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>